LangChain_Intento1/.env
LangChain_Intento2_Llama3/Streamlit_tests_Llama3_JN/venv
LangChain_Intento3_LangGraph/.env
LangChain_Intento4_MongoDB/venv
LangChain_Intento5_Deploy/.env
LangChain_Intento7_HuggingFace/.env
LangChain_Intento8_OpenAI/.env